@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=BIZ+UDPMincho&display=swap');

body {
    font-family: "BIZ UDPMincho";
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, em, strong {
    font-family: "BIZ UDPGothic";
    font-weight: 700;
    font-style: normal;
}