* {
    line-height: 1.6;
    text-align: justify;
}

a:link {
    color: #a50;
}

a:visited {
    color: #c96;
}

a:hover,
a:active {
    color: #f80;
}

body {
    background: linear-gradient(-70deg, #ccc, #eee, #ddd);
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.all {
    max-width: 960px;
    width: calc(100vw - 32px - 16px);
    margin: 8px auto 16px;
    background: #fff;
    padding: 16px;
    box-shadow: 4px 4px 8px #8888;
}

nav {
    font-size: 80%;
}

header {
    min-height: 240px;
    padding: 0 8px 32px;
}

header hr {
    opacity: 0;
}

header h1 {
    max-width: calc(40em / 1.8);
    font-size: 180%;
    margin: 64px auto 16px;
}

header h1 a:link,
header h1 a:visited {
    color: inherit;
    text-decoration: none;
}

header address {
    text-align: right;
    max-width: 30em;
    margin: 0 auto;
    padding: 16px 0;
    font-style: normal;
}

footer {
    padding: 0 8px;
}

.banner {
    display: flex;
    width: fit-content;
    /*calc(100% - 32px - 32px - 4px);*/
    width: calc(100% - 4px - 8px - 8px - 16px);
    margin: 16px auto 8px;
    padding: 0 8px;
    background: transparent;
    /*linear-gradient(-70deg, #b003, #d002, #e002);*/
}

.banner.calendar-link {
    border: 2px solid #c60a;
}

.banner.monoxer-link {
    border: 2px solid #0079F2ff;
}

.banner.monoxer-link a:link {
    color: #0079F2ff;
}

.banner.monoxer-link a:visited {
    color: #0079F2aa;
}

.banner.monoxer-link a:hover,
.banner.monoxer-link a:active {
    color: #f80;
}

.banner p.aside {
    max-width: 30%;
    margin: 8px;
}

.banner p.aside img {
    width: 100%;
    vertical-align: top;
}

.banner p:not(.aside) {
    flex-grow: 1;
}

.banner p {
    margin: 8px min(16px, max(0px, 100% - 30em));
}

.banner p.banner-main {
    text-align: center;
    margin: 32px 24px;
}

.main {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 8px 16px;
}

.main>.banner {
    max-width: calc(36em - 16px - 16px - 4px);
}

.main>p,
.main>ul {
    max-width: 36em;
    margin: 1.3em auto;
}

.main>h2 {
    font-size: 160%;
    max-width: calc(40em / 1.6);
    margin: 1.3em auto 0;
}

p a:link {
    margin: 0 2px;
}

p img {
    max-width: 100%;
}

h2 {
    background: linear-gradient(0deg, #f800 10%, #f809 10%, #f809 20%, #f800 20%);
}

blockquote {
    border: 1px solid #888;
    margin: 1.8em 2em;
    padding: 0 1em;
    color: #33a;
    border-color: #33a;
}

blockquote.message {
    margin: 1.8em 0.5em;
    color: #a33;
    border-color: #a33;
}

p.img.right {
    float: right;
    margin-left: 1em;
    max-width: 40%;
}

p.img.right:not(:first-child) {
    margin-top: 0;
}

p.img.center {
    margin: 0 auto 1em;
    max-width: 40%;
}

hr.break {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    clear: both;
}