* {
    line-height: 1.4;
}

.all {
    width: calc(100vw - 16px - 0px);
    padding: 0px;
}

header {
    min-height: 0;
    padding: 8px 8px 0;
    margin: 0 0 1.3em;
}

header h1 {
    font-size: 150%;
    margin: 40px auto 8px;
    padding: 0 8px;
}

header h1 br {
    display: none;
}

header address {
    padding: 0;
    max-width: 80%;
}

footer {
    padding: 0 8px 8px;
}

.banner {
    width: calc(100% - 4px - 0px - 0px - 16px);
    padding: 0 8px;
}

.banner p.banner-main {
    margin: 8px 0;
}

.main>p,
.main>ul {
    margin: 0.8em auto;
}
.main>p.img.right {
    margin: auto;
}

p.img.center img,
li.img.center img {
    max-width: 100%;
}

ul,
ol {
    padding: 0;
}

.main>h2 {
    font-size: 140%;
    margin: 0.8em auto 0;
}

blockquote,
blockquote.message {
    margin: 0 0;
    padding: 4px 0.5em;
}

blockquote p:first-child {
    margin-top: 0.8em;
}

blockquote p:last-child {
    margin-bottom: 0.8em;
}

p.img.right {
    float: none;
    margin-left: auto;
    max-width: 16em;
}

p.img.right:not(:first-child) {
    margin-top: 0;
}

p.img.center,
li.img.center {
    margin: 0 auto 1em;
    max-width: 16em;
}