*{
    line-height: 1.6;
    text-align: justify;
}
a:link{
    color: #a50;
}
a:visited{
    color: #c96;
}
a:hover, a:active{
    color: #f80;
}

body{
    background: linear-gradient(-70deg, #ccc, #eee, #ddd);
    margin: 0;
    height: 100vh;
    padding: 0;
}
.all{
    max-width: 960px;
    width: calc(100vw - 32px - 16px);
    margin: 8px auto;
    background: #fff;
    padding: 16px;
}
nav{
    font-size: 80%;
}
header{
    min-height: 240px;
    background: linear-gradient(-70deg, #f804, #f802, #f803);
    padding: 0 8px;
}
header hr{
    opacity: 0;
}
header h1{
    margin: 64px auto 48px;
    padding: 0 24px;
}
header address{
    text-align: right;
    margin: 0 48px;
    padding: 16px 0;
}

.banner{
    display: flex;
    width: fit-content;/*calc(100% - 32px - 32px - 4px);*/
    width: calc(100% - 4px - 8px);
    margin: 16px auto 8px;
    padding: 0 8px;
    background: transparent;/*linear-gradient(-70deg, #b003, #d002, #e002);*/
}
.banner.calendar-link{
    border: 2px solid #c60a;
}
.banner.monoxer-link{
    border: 2px solid #0079F2ff;
}
.banner.monoxer-link a:link{
    color: #0079F2ff;
}
.banner.monoxer-link a:visited{
    color: #0079F2aa;
}
.banner.monoxer-link a:hover,
.banner.monoxer-link a:active{
    color: #f80;
}
.banner p.aside{
    max-width: 30%;
    margin: 8px;
}
.banner p.aside img{
    width: 100%;
    vertical-align: top;
}
.banner p:not(.aside){
    flex-grow: 1;
}

.banner p{
    margin: 8px 16px;
}
.banner p.banner-main{
    text-align: center;
    margin: 32px 24px;
}

.main {
    padding: 0 8px;
}
.main > .banner {
    max-width: calc(36em - 16px - 16px - 4px);
}
.main > p{
    max-width: 36em;
    margin: 1.3em auto;
}
.main > h2{
    font-size: 160%;
    max-width: calc(40em / 1.6);
    margin: 1.3em auto 0;
}

p a:link{
    margin: 0 2px;
}
p img{
    max-width: 100%;
}

h2 {
    background: linear-gradient(0deg, #f800 10%, #f809 10%, #f809 20%, #f800 20%);
}