*{
    line-height: 1.6;
    text-align: justify;
}
a:link{
    color: #a50;
}
a:link:visited{
    color: #c96;
}

body{
    background: linear-gradient(-70deg, #ccc, #eee, #ddd);
    margin: 0;
    height: 100vh;
    padding: 0;
}
.all{
    max-width: 960px;
    width: calc(100vw - 32px - 16px);
    margin: 8px auto;
    background: #fff;
    padding: 16px;
}
nav{
    font-size: 80%;
}
header{
    min-height: 240px;
    background: linear-gradient(-70deg, #f804, #f802, #f803);
}
header hr{
    opacity: 0;
}
header h1{
    margin: 64px auto 48px;
    padding: 0 24px;
}
.calendar-link{
    display: flex;
    width: fit-content;/*calc(100% - 32px - 32px - 4px);*/
    max-width: calc(100% - 4px - 8px);
    margin: 16px auto 8px;
    border: 2px solid #c60a;
    background: transparent;/*linear-gradient(-70deg, #b003, #d002, #e002);*/
}
.calendar-link > p.aside{
    max-width: 30%;
    margin: 8px;
}
.calendar-link > p.aside img{
    width: 100%;
    vertical-align: top;
}
.calendar-link > p:not(.aside){
    flex-grow: 1;
}

.calendar-link > p{
    margin: 16px; 
}

p a:link{
    margin: 0 2px;
}